@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}


body, html{
  width: 100%;
}
body{
  text-align: center;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 30px;
}
dl, ol, ul{
  margin-bottom: 0;
}
/* NAV BAR */
#nav_bar{
  position: initial;
  background-color: black;
}
.nav_bar{  
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 1rem;
  transition: all 0.3s ease;
}
.nav_bar.sticky{
  background: black;
  /* padding: 10px 0;   A VOIR SI SA POSE UN PROBLEME
  CELA A REGLER LE PROBLEME DAFFICHAGE SUR LA PAGE TARIF AVEC LA NAVBAR */  
}
.nav_bar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_bar {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none; 
}
.logo{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
}
.nav_bar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
  letter-spacing: 2px;
  padding: 0 1rem 0 1rem;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a::after{
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: black;
  transition:  width .3s ease-in-out;
}
.menu-list li a:hover::after{
  width: 100%;
}
.menu-list li a:hover{
  color: red;         
}
.burger{
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
.bi-arrow-up-short{   /*  REVOIR LE BOUTTON TOP AVEC JS  POUR REMOVE LE BTN */
    position: fixed;
    height: 50px;
    bottom: 40px;
    right: 40px;
    background-color: black;
    font-weight: bolder;
    color: white;
    font-size: 2rem;
    opacity: .30;
  }
  .bi-arrow-up-short:hover{
    opacity: 1;
  }
  .bi-arrow-up-short::after{
    display: none;
  }
  /* BANNER */
  .banner img{
    height: 100vh;
    object-fit: fill;
    width: 100%;
  }
  .content h1{
    padding: 1.5rem;
    text-align: center;
    font-size: 30px;
  }
  /* PAGE PHOTOS */
  .information{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
  }
  .container{
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding:  0 1.5rem;
  }
  .image-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 
      'img-1 img-2 img-3 img-3'
      'img-1 img-4 img-5 img-6'
      'img-7 img-7 img-8 img-6';
  }
  .image-gallery a{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  .image-gallery a i{
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgb(255, 255, 255, .6);
    border-radius: .4rem;
    opacity: 0;
    transition: opacity .5s;
  }
  .image-gallery a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,.8);
    opacity: 0;
    transition: opacity 0.5s;
  }
  .image-gallery a:hover i,
  .image-gallery a:hover::before{
    opacity: 1;
  }
  .img-1{
    grid-area: img-1;
    min-height: 51.5rem;
    background-image: url("photo/img-1.jpg");
  }
  .img-2{
    grid-area: img-2;
    background-image: url("photo/img-2.jpg");
  }
  .img-3{
    grid-area: img-3;
    background-image: url("photo/img-3.jpg");
  }
  .img-4{
    grid-area: img-4;
    background-image: url("photo/img-4.jpg");
  }
  .img-5{
    grid-area: img-5;
    background-image: url("photo/img-5.jpg");
  }
  .img-6{
    grid-area: img-6;
    min-height: 51.5rem;
    background-image: url("photo/img-6.jpg");
  }
  .img-7{
    grid-area: img-7;
    background-image: url("photo/img-7.jpg");
  }
  .img-8{
    grid-area: img-8;
    background-image: url("photo/img-8.jpg");
  }
  /* PAGE TARIFS */
  .little_banner img{
    position: relative;
    text-align: center;
    width: 100%;
    height: 50vh;
  }
  .little_banner h1{
    position: absolute;
    letter-spacing: 3px;
    color: white;
    background: transparent;
    top: 30%;
    left: 15%;
  }
  .container_presta p{
    margin-top: 2rem;
  }

  /* PAGE CONTACT */
  #contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  #contact_form{
    margin-top: 3rem;
    height: auto;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
  }
  #contact_form h1{
    font-size: 1.5rem;
  }

  input[type=text], input[type=email], textarea{
    width: 100%;
    border: #3e3d3a 1px solid;
    border-radius: 20px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    margin-bottom: 2rem;
    box-sizing: border-box;
  }

  input[type=text], input[type=email]{
    height: 45px;
  }
  textarea{
    resize: none;
    height: 170px;
    font-size: 13px;
    margin-bottom: 3rem;
    line-height: 1.1;
  }
  .input_icon input[type=text], input[type=email], textarea{
    padding-left: 40px;
  }
  .input_icon{
    position: relative;
  }
  .input_icon i{
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 15px;
    color: black;
    font-size: bold;
  }  
  input[type=text]:hover{
    background: #f2f2f2;
  }
  input[type=email]:hover{
    background: #f2f2f2;
  }
  textarea:hover{
    background: #f2f2f2;
  }

  /* BOUTON FORM */

  .btn{
    padding: 5px 10px;
    border-radius: 40px;
    border: 1px solid black;
    background-color: #fff;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .btn:hover, .btn:focus, .btn:active{
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  /* btn-primary */

  /* FOOTER */
  #footer{
    bottom: 0;

  }
  .footer-basic {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    background-color:black;
    color:white;
  }
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  .footer-basic li {
    padding:0 10px;
  }
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  } 
  .footer-basic .social {
    text-align:center;
  }
  .footer-basic .social > a {
    display:inline-block;
    width:40px;
    height:40px;
    font-size:24px;
    line-height:40px;
    text-align:center;
    border-radius:50%;
    border:1px solid white;
    margin:0 8px;
    color:inherit;
  }
  .footer-basic .copyright {
    margin-top:10px;
    text-align:center;
    font-size:13px;
    color:white;
    font-weight: bold;
  }
  .copyright{
    letter-spacing: 2px;
  }
  /* MEDIA QUERIES */
  @media (max-width: 1230px) {
    .content{  /* A VOIR POUR LE RESPONSIVE */
      padding: 0 60px;
    }
  }
  @media (max-width: 1100px) {
    .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
  .image-gallery{
    grid-template-areas: 
    'img-1 img-1 img-2 img-2'
    'img-1 img-1 img-3 img-3'
    'img-4 img-4 img-5 img-5'
    'img-6 img-7 img-7 img-7'
    'img-8 img-8 img-8 img-8';
  }
  .image-gallery a{
    height: 20rem;
  }
  .img-1{
    min-height: 41.5rem;
  }
  .img-6{
    min-height: 20rem;
  }
  .little_banner img{
    position: static;
  }
  .nav_bar .menu-list{
    z-index: 1;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .burger{
    display: block;
  }
  .burger.hide{
    display: none;
  }
  .nav_bar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .nav_bar.show .menu-list{
    left: 0%;
  }
  .nav_bar .menu-list li{
    margin-top: 45px;
  }
  .nav_bar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .nav_bar.show .menu-list li a{
    margin-left: 0px;
  }
  .menu-list li a:hover::after{
    width: 0;
  }
}
@media (max-width: 600px) {
  .image-gallery{
    grid-template-areas: 
    'img-1 img-1 img-1 img-1'
    'img-2 img-2 img-2 img-2'
    'img-3 img-3 img-3 img-3'
    'img-4 img-4 img-4 img-4'
    'img-5 img-5 img-5 img-5'
    
    'img-6 img-6 img-6 img-6'
    'img-7 img-7 img-7 img-7'
    'img-8 img-8 img-8 img-8';
  }
  .image-gallery a .img-1 .img-6{
    min-height: 30rem;
    height: 30rem;
  }
  .menu-list li a:hover::after{
    width: 0;
  }
}
@media (max-width: 380px) {
  .nav_bar .logo a{
    font-size: 27px;
  }
  .menu-list li a:hover::after{
    width: 0;
  }
}
